{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: #00696e">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="68" height="45" class="d-inline-block align-top" alt="">
           <span class="btn btn-danger">Kорпоративная cистема обучения</span>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
          {% if user.role == "teacher" %}
          <div class="btn-group me-1" role="group" aria-label="First group">
             <a class="btn btn-danger"
            href="{% url 'posts:post_create' %}" >Добавить материал</a>
          </div>
          <div class="btn-group me-1" role="group" aria-label="First group">
            <a class="btn btn-danger"
            href="{% url 'posts:find_student' %}">Назначить курс студенту</a></button>
          </div>
          {% endif %}
        <div class="btn-group me-1" role="group" aria-label="First group">
          <div>
            <a class="btn btn-danger" href="{% url 'users:logout' %}">Выйти</a>
          </div>
        </div>
        {% else %}
        <div class="btn-group me-1" role="group" aria-label="First group">
          <div>
            <a class="btn btn-danger"
            href="{% url 'users:login' %}">Войти</a>
          </div>
        </div>
        {% endif %}
      {% endwith %}
      </ul>
    </div>
  </nav>      
</header>