{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, меня зовут Максим Федоров</h1>
    <h3>
      Мы с Yandex-Practicum создали данный проект блога для блогеров !
    </h3>
    <br>
    <em>
      Я учусь на курсах Яндекс-Практикума по направлению Python backend devoloper.<br>
      Это мой первый проект . Социальная сеть , где каждый может зарегистрироваться<br>
      и оставлять свои посты. Кроме этого можно к посту привязывать картинки и<br>
      оставлять комментарии под постами других блогеров. Ну и соц. Сеть не была бы<br>
      Это мой первый проект . Социальная сеть , где каждый может зарегистрироваться<br> 
      и оставлять свои посты. Кроме этого можно к посту привязывать картинки и<br> 
      оставлять комментарии под постами других блогеров. Ну и соц. Сеть не была бы<br> 
      соц. сетью , если в ней нельзя было подписываться на авторов постов , этот <br>
      функционал то же был реализован в данном проекте .
    </em>
  </div>
{% endblock %}
